{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumbs([
    { 'name': _('Number Conditions'), 'link': url_for('.NumberConditionView:index'), 'icon': 'filter' }
  ]) }}
{% endblock %}

{% block content %}
  {% call build_section_row() %}
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{ _('Number Conditions') }}</h3>
        </div>
        <div class="box-body">
          <p>{{ _('The Number Conditions plugin is installed correctly.') }}</p>
        </div>
      </div>
    </div>
  {% endcall %}
{% endblock %}
